{% extends "base.html.twig" %}
{% block body %}

<img class="img-header-homepage" src="images/concert-2527495_1280.jpg" alt="concert">

    <div class="container main-homepage">
        <div>
            <img class="img-main-homepage" src="images/balloons-1331564_1920.jpg" alt="balloon">
            <a class="btn btn-primary" role="button" href="{{ path('travel_new') }}">Proposer un trajet</a>
            <a class="btn btn-success" role="button" href="{{ path('party_new') }}">Proposer un événement</a>
        </div>

<div class="container">
    {% for aller in allers %}
        <article class="col-md-3">
            {% include 'travel/cardaller.html.twig' with {'travel' : aller} only %}
        </article>
    {% endfor %}
</div>


<div class="caontainer">
    {% for retour in retours %}
        <article class="col-md-3">
            {% include 'travel/cardretour.html.twig'with {'travel' : retour} only  %}
        </article>
    {% endfor %}
</div>


    </div>



{% endblock %}