{% extends 'base.html.twig' %}
{% block body %}
    <div class="d-flex justify-content-around mt-5 flex-wrap">
        {% for party in parties %}
            {% include 'party/card.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}