<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h3 class="card-title">{{ party.name }}</h3>
        <h6 class="card-subtitle mb-2 text-muted">Lieu : {{ party.city }}</h6>
        <h6>Date & heure: {{ party.startedAt|date('d/m/Y H:i') }}</h6>
        <a class="btn btn-success" href="{{ path('party_show',{'id': party.id}) }}">voir plus</a>

    </div>
</div>