{% extends 'base.html.twig' %}

{% block title %}New Travel{% endblock %}

{% block body %}
    <div class="container">

    <h1>Proposer un trajet</h1>

    {{ include('travel/_form.html.twig') }}

    <a href="{{ path('travel_index') }}">back to list</a>
    </div>

{% endblock %}
